<div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">About user managemennt</div>
            <p>
                Lorem ipsum dolor sit amet. Et mollitia obcaecati sit animi quisquam et architecto voluptas qui quisquam laboriosam non aliquam quas. Ut reiciendis enim qui repellat voluptatibus ex temporibus quia ab corrupti consequatur aut molestiae natus est reiciendis repellat.

Sit voluptatem blanditiis ut unde molestias in explicabo reiciendis est nisi ipsam rem omnis vero sit modi quam a inventore autem! Eos fuga enim aut porro tenetur ea galisum dolor. Id dolor voluptate quo esse sint rem         </p>
        </div>
    </div>

    <div class="navbar-nav">
        <div class="col-md-6">
            <router-outlet name="map"></router-outlet>
        </div>
        <div class="col-md-6">
            <router-outlet name="feeds"></router-outlet>
        </div>
    </div>
</div>




